#ghj
{
     position:absolute;
    }
    #foot
    {
         position:absolute;
    top: 1837px;
    left: 356px;
    width: 571px;
    height: 385px;
 
}
#lm
{
    position:absolute;
    top: 350px;
    left: -19px;
    width: 683px;
}
    #ag
    {
        position:absolute;
    top: 2px;
    left: 287px;
    width: 327px;
    height: 380px;
}
#nm
{
     position:absolute;
    top: 305px;
    left: 982px;
    height: 388px;
}
#Button1
{
    position:absolute;
    }
    #mn
    {
         position:absolute;
    top: 480px;
    left: 10px;
    width: 343px;
}
         #zx
    {
         position:absolute;
        }
         #as
    {
         position:absolute;
        }
        #cv
    {
         position:absolute;
        }
          #ts
    {
         position:absolute;
        } 
         #ckd
    {
         position:absolute;
    top: 356px;
    left: 11px;
    width: 635px;
}
#dfg
{
   background-color: #0066FF;
    }
         #hji
    {
         position:absolute;
         border:1px solid black;
    top: 248px;
    left: 10px;
    height: 3057px;
    width: 1334px;
}
    #hjk
    {
        position:absolute;
        }
        .fgh
        {
           margin: 10px;
    position:absolute;
    top: 166px;
    left: 3px;
    height: 573px;
    width: 1309px;
}
#qwe
{
    position:absolute;
    top: 732px;
    left: 1px;
    width: 1307px;
    margin-left: 13px;
    margin-top: 18px;
    height: 439px;
}
#vb
{
  position:absolute; 
    }
    #rtg
    {
        position:absolute;
    top: 1209px;
    left: 11px;
    width: 1323px;
    height: 614px;
   border:1px solid black;
}
#prince
{
    position:absolute;
    }
    .cvb
    {
       margin: 20px;
    position:absolute;
    top: 80px;
    left: 2px;
    box-shadow: rgb(136, 136, 136) 0px 0px 15px 3px;
    width: 245px;
    height: 247px;
}
#dc
{
    position:absolute;
    top: 100px;
    left: 271px;
    width: 999px;
    height: 265px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
}
#dcg
{
 position:absolute;
    top: 358px;
    left: 2px;
    width: 1277px;
    height: 231px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
}
#dcb
{
 position:absolute;
    top: 131px;
    left: 910px;
    width: 355px;
    height: 35px;
}
#dcd
{
  position:absolute;  
    }
    #nmg
    {
        position:absolute;
    top: 1222px;
    left: 13px;
}
#ggh
{
    position:absolute;
    top: 471px;
    left: 14px;
    width: 1327px;
    height: 1390px;
}
#bit
{
    position:absolute;
    left: 1px;
    width: 323px;
    top: 0px;
}
#jps
{
  position:absolute;
    }
    #tin
    {
        position:absolute;
        }
 #ret
 {
   position:absolute;  
     }
     #ret2
 {
   position:absolute;  
     }      
     #baat
     {
        position:absolute; 
         }       
 #mnb
  {
     position:absolute;
    top: 1194px;
    left: 16px;
    height: 584px;
    width: 1304px;
}
 #mnb1
  {
     position:absolute;
    top: 353px;
    left: 0px;
    height: 219px;
    margin-bottom: 4px;
}
#mnc
{
    position:absolute; 
    }
    #mnc1
{
    position:absolute; 
    }
     #mnc2
{
    position:absolute; 
    }
    .bcw
   {
     box-shadow: rgb(136, 136, 136) 0px 0px 15px 3px;  
       }
        #mnc3
{
    position:absolute;
}
.cvvv
{
  position:absolute;
    top: 668px;
    left: 12px;
    height: 291px;
    width: 615px;
}
.cvvv1
{
  position:absolute;
    left: 645px;
    height: 535px;
    width: 651px;
    top: 777px;
}
.cvvv3
{
  position:absolute;
    top: 1006px;
    left: 12px;
    width: 616px;
    height: 423px;
}
#cvvv4
{
  position:absolute;
   
}
#cvvv2
{
  position:absolute;
  
}
#rav
{
  position:absolute;
  
}
#rav1
{
  position:absolute;
  
}